env
test files
*.xlsx
*.code-workspace
*.csv
testing.py
saved-pw.txt
esm_c.txt
*.spec
build
dist
Blacklist Resource IDs.txt
*.pyc
dependancies/esm_credentials.txt
dependancies/esm_hostnames.txt
dependancies/esm_resource_ids.txt
*.log
